.menu-bar {
  background-color: #a0e7e5;
  width: 100%;
  height: calc(100vh - 56px);
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 15px;

  h1 {
    max-width: 80%;
  }
}
